<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat send</title>
</head>
<body>
    <h2>New Chat Create</h2>
    <form method="post" action="/chats">
        <input type="text" placeholder="who are you?" name="from"><br><br>
        <textarea name="msg" placeholder="Write your Message here" type="text"></textarea><br><br>
        <input type="text" placeholder="add receiver" name="to"><br><br>
        <button>Create Chat...</button>
    </form>
</body>
</html>